useDynLib(hnpivbart, .registration=TRUE)
##exportPattern("^[[:alpha:]]+")
export("ivbart")
export("hetivbart")
export("npivbart")
export("hetnpivbart")
export("bartModelMatrix")
export("class.ind")
                                        #export("ivbart2s")
export("check_build_training_data")
export("check_build_test_data")
export("get_tau")
export("getaprior")
export("amode")
export("get_tsls_coef")
export("get_starting_values")
#export("loo")
#export("loo.ivbart")
#export("loo.hetivbart")
#export("loo.npivbart")
#export("loo.hetnpivbart")
#export("combine_bart")
importFrom(Rcpp, evalCpp)
importFrom("stats", "lm", "var")
